html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.header {
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  height: 95vh; }
