/*COLORS*/
/*=======================================================================*/
$color-black: #000;
$color-light: #ccc;

/*FONT SIZE*/
/*=======================================================================*/
$default-font-size: 1.8rem;